button {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
  padding: 10px;
  border: white 2px solid;
  border-radius: 15px;
  box-shadow: $boxShadowPurpleInset;
  transition: box-shadow 0.1s;
}
button:hover,
button:active {
  box-shadow: $boxShadowPurpleInset, $boxShadowPurpleOutset;
  text-shadow: $textShadowPurple;
}
