body,
html {
  margin: 0;
  height: 100%;
  background: url("../../Resources/images/Stars.png"),
    linear-gradient(#200016, #10001f);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  margin-right: 10px;
}
img.header {
  border-radius: 50%;
  width: 13%;
}
