body,
html {
  margin: 0px;
  height: 100%;
}

* {
  font-family: serif;
  font-weight: bold;
  background: black;
  color: white;
}
/* ↓↓↓ styling the containers */
div {
  width: 100%;
}

fieldset {
  position: relative;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-51%, -50%);
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}
/* ↑↑↑ styling the containers */

/* ↓↓↓ styling the caption */
legend {
  border: 5px grey solid;
  padding: 5px;
  border-radius: 15px;
  font-size: 1.5em;
}
/* ↑↑↑ styling the caption */

/* ↓↓↓ styling the input numbers */
#a,
#b {
  border: 3px inset grey;
  border-radius: 15px;
  padding: 7px;
  background-color: #adadad24;
  width: 75%;
  text-align: center;
  font-size: 1.1em;
}

#a:focus,
#b:focus {
  outline: 2px inset #900000;
  border: 2px inset #900000;
}
/* ↑↑↑ styling the input numbers */

/* ↓↓↓ styling paragraphs before the input text */
.p1,
.p2 {
  display: inline-block; /* to make the paragraphs appear inline with the input numbers*/
}

.p1::before {
  content: "a";
  color: white;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.p2::before {
  content: "b";
  color: white;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}
/* ↑↑↑ styling paragraphs before the input text */

/* ↓↓↓ styling buttons */
button,
input[type="reset"] {
  background-color: black;
  color: white;
  border: 6px inset #c4c4c484;
  padding: 7px;
  border-radius: 15px;
}

button:active,
input[type="reset"]:active {
  opacity: 0.5;
}
/* ↑↑↑ styling buttons */

/* ↓↓↓ styling paragraphs of the answer */
#demo {
  font-size: 1.5em;
  color: white;
  border-radius: 50%;
  /*background: linear-gradient(-45deg, blue, red);*/
  margin: auto;
  width: 10%;
}

#equal {
  font-size: 1.5em;
  color: white;
  border-radius: 12px;
  /*background: linear-gradient(-45deg, blue, red);*/
  margin: auto;
  width: 70%;
}
/* ↑↑↑ styling paragraphs of the answer */

/* ↓↓↓ styling the image */
img {
  border-radius: 20px;
  position: relative;
  top: -10px;
}
/* ↑↑↑ styling the image */
